workflow-issues.json
{
  "name": "Resumen Semanal Issues Proyectos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeklyConfig": {
                "daysOfTheWeek": [1],
                "hour": 14,
                "minute": 0
              }
            }
          ]
        }
      },
      "id": "b1000000-0000-0000-0001-000000000001",
      "name": "Lunes 2pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-992, 32]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "BBDD",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Estado",
              "lookupValue": "Iniciado"
            },
            {
              "lookupColumn": "Estado",
              "lookupValue": "Stand by"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "id": "b1000000-0000-0000-0002-000000000002",
      "name": "Leer BBDD",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-848, 32],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CREDENCIAL_GOOGLE_SHEETS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b1000000-0000-0000-0003-000000000003",
      "name": "Por Proyecto",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-672, 32]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-issues-not-empty",
              "leftValue": "={{ $json['Issues'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cond-motivo-not-empty",
              "leftValue": "={{ $json['Motivo del Cambio'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b1000000-0000-0000-0004-000000000004",
      "name": "Tiene Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-464, 48]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst issues = (item['Issues'] || '').trim();\nconst motivo = (item['Motivo del Cambio'] || '').trim();\n\n// Combinar ambas columnas con etiqueta si tienen contenido\nconst partes = [\n  issues ? `Issues:\\n${issues}` : '',\n  motivo ? `Motivo del Cambio:\\n${motivo}` : ''\n].filter(Boolean).join('\\n\\n');\n\nreturn [{\n  json: {\n    ...item,\n    issues_formateados: partes\n  }\n}];"
      },
      "id": "b1000000-0000-0000-0005-000000000005",
      "name": "Preparar Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-272, 32]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `Basándote en los issues y motivos de cambio registrados, redacta un resumen consolidado en un único párrafo que describa los problemas activos, sus causas y el impacto en el proyecto. Usa lenguaje técnico y directo, sin ambigüedades ni frases como 'se sugiere' o 'se espera'. No incluyas fechas de registro.\\n\\n${$json.issues_formateados}` }}"
      },
      "id": "b1000000-0000-0000-0006-000000000006",
      "name": "Resumir Issues con IA",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [-128, -112],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "b1000000-0000-0000-0007-000000000007",
      "name": "DeepSeek V3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [-128, 240],
      "credentials": {
        "openAiApi": {
          "id": "CREDENCIAL_DEEPSEEK",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 3,
        "unit": "seconds"
      },
      "id": "b1000000-0000-0000-0009-000000000009",
      "name": "Esperar 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [160, 32],
      "webhookId": "b1000000-0000-0000-0009-000000000099"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "BBDD",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Preparar Issues').item.json.row_number }}",
            "Issues Consolidado": "={{ $('Resumir Issues con IA').item.json.text }}"
          },
          "matchingColumns": ["row_number"],
          "schema": [
            {
              "id": "Issues Consolidado",
              "displayName": "Issues Consolidado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b1000000-0000-0000-0008-000000000008",
      "name": "Actualizar Issues Consolidado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [400, 32],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CREDENCIAL_GOOGLE_SHEETS",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Lunes 2pm": {
      "main": [[{"node": "Leer BBDD", "type": "main", "index": 0}]]
    },
    "Leer BBDD": {
      "main": [[{"node": "Por Proyecto", "type": "main", "index": 0}]]
    },
    "Por Proyecto": {
      "main": [
        [],
        [{"node": "Tiene Issues?", "type": "main", "index": 0}]
      ]
    },
    "Tiene Issues?": {
      "main": [
        [{"node": "Preparar Issues", "type": "main", "index": 0}],
        [{"node": "Por Proyecto", "type": "main", "index": 0}]
      ]
    },
    "Preparar Issues": {
      "main": [[{"node": "Resumir Issues con IA", "type": "main", "index": 0}]]
    },
    "DeepSeek V3": {
      "ai_languageModel": [[{"node": "Resumir Issues con IA", "type": "ai_languageModel", "index": 0}]]
    },
    "Resumir Issues con IA": {
      "main": [[{"node": "Esperar 3s", "type": "main", "index": 0}]]
    },
    "Esperar 3s": {
      "main": [[{"node": "Actualizar Issues Consolidado", "type": "main", "index": 0}]]
    },
    "Actualizar Issues Consolidado": {
      "main": [[{"node": "Por Proyecto", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
