workflow-notas-PROD.json
{
  "name": "Resumen Semanal Notas BBDD",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 13
            }
          ]
        }
      },
      "id": "e0696a8a-edd5-4677-9b04-eeb0cf6bc313",
      "name": "Lunes 1pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        32
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UYVfN_choaY9CWi-TquQ2do7cGtsp3vha-jJJcQGifg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "BBDD",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Estado",
              "lookupValue": "Iniciado"
            },
            {
              "lookupColumn": "Estado",
              "lookupValue": "Stand by"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "id": "72c1865e-61e1-4b91-b57b-7053ff894e71",
      "name": "Leer BBDD",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -848,
        32
      ],
      "credentials": {
        "googleServiceAccountApi": {
          "id": "CREDENCIAL_GOOGLE_SERVICE_ACCOUNT",
          "name": "Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "76a64d5c-46fe-436c-b331-e4a3eb62248d",
      "name": "Por Proyecto",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -672,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-notas-not-empty",
              "leftValue": "={{ $json['Notas'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3c521911-9fa7-4ffc-a579-e11f0a072bdf",
      "name": "Tiene Notas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst notas = item['Notas'] || '';\n\n// Separar por uno o más saltos de línea\nconst entradas = notas\n  .split(/\\n+/)\n  .map(e => e.trim())\n  .filter(e => e.length > 0);\n\n// Últimas 4 entradas\n// const ultimas = entradas.slice(8).join('\\n')\nconst ultimas4 = entradas.slice(0,8).join('\\n');\n\nreturn [{\n  json: {\n    ...item,\n    notas_formateadas: ultimas4,\n    // notas2: ultimas\n  }\n}];"
      },
      "id": "4923b1f0-d224-4f65-8558-5ce91d213344",
      "name": "Ultimas 4 Notas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `Usa las Notas para entregar un resumen técnico consecuente respecto a los principales hitos técnicos y próximas actividades, excluye las fechas de inicio de las bitácoras para que este resumen quede en un único párrafo. Utiliza un lenguaje técnico y evita utilizar lenguaje ambiguo o frases tales como: se sugiere o se espera, etc..\\n\\nNotas:\\n${$json.notas_formateadas}` }}"
      },
      "id": "ac556882-f2b8-4f52-ad97-069ab626c40b",
      "name": "Resumir con IA",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -128,
        32
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "f52d53fb-3f81-4b24-9440-b20074bc50f5",
      "name": "DeepSeek V3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -128,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "CREDENCIAL_DEEPSEEK",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1UYVfN_choaY9CWi-TquQ2do7cGtsp3vha-jJJcQGifg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "BBDD",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Ultimas 4 Notas').item.json.row_number }}",
            "Novedades": "={{ $('Resumir con IA').item.json.text}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": ":q",
              "displayName": ":q",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Requerimiento",
              "displayName": "Requerimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Responsable",
              "displayName": "Responsable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Solicitante",
              "displayName": "Solicitante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Colaboradores",
              "displayName": "Colaboradores",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Área",
              "displayName": "Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha de Recepción",
              "displayName": "Fecha de Recepción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha de Inicio",
              "displayName": "Fecha de Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha de Compromiso",
              "displayName": "Fecha de Compromiso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha de Término Real",
              "displayName": "Fecha de Término Real",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Alerta",
              "displayName": "Alerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Issues",
              "displayName": "Issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Alcance",
              "displayName": "Alcance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Avances",
              "displayName": "Avances",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Novedades",
              "displayName": "Novedades",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issues Consolidado",
              "displayName": "Issues Consolidado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Avance Plan",
              "displayName": "Avance Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Avance Real",
              "displayName": "Avance Real",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contiene RFC",
              "displayName": "Contiene RFC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Motivo de RFC",
              "displayName": "Motivo de RFC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Motivo del Cambio",
              "displayName": "Motivo del Cambio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Jira Cliente",
              "displayName": "Jira Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Jira Admin",
              "displayName": "Jira Admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ocupación",
              "displayName": "Ocupación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Año",
              "displayName": "Año",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mes",
              "displayName": "Mes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Linea de Aplicacion",
              "displayName": "Linea de Aplicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "756db8f8-35f9-4825-9363-3255ed7ad3b0",
      "name": "Actualizar Novedades",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        176,
        32
      ],
      "credentials": {
        "googleServiceAccountApi": {
          "id": "CREDENCIAL_GOOGLE_SERVICE_ACCOUNT",
          "name": "Google Service Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Lunes 1pm": {
      "main": [
        [
          {
            "node": "Leer BBDD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer BBDD": {
      "main": [
        [
          {
            "node": "Por Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Por Proyecto": {
      "main": [
        [],
        [
          {
            "node": "Tiene Notas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiene Notas?": {
      "main": [
        [
          {
            "node": "Ultimas 4 Notas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Por Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ultimas 4 Notas": {
      "main": [
        [
          {
            "node": "Resumir con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek V3": {
      "ai_languageModel": [
        [
          {
            "node": "Resumir con IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resumir con IA": {
      "main": [
        [
          {
            "node": "Actualizar Novedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Novedades": {
      "main": [
        [
          {
            "node": "Por Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e11c140d-c4c6-47d4-8287-84bb4ac00600",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0abcc8c876d78700dbfa2020252c4ee46edd9c6a94e1bca85aec89fd98eb7bfe"
  },
  "id": "Dw8Ixb5W5Jbpx9F2",
  "tags": []
}